<!--
    This file is for the 404 Error when the link is wrong.
-->
<!DOCTYPE html>
<html lang="en">
    <!-- Website Head -->
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./style-dark.css">
        <title>Error 404 - Site not found</title>
    </head>

    <!-- Body Element -->
    <body>
        <!-- Header -->
        <header></header>

        <!-- Header -->
        <section>
            <h1>Error 404 - Site not found</h1>
            <p>You didn't break the internet, but we can't seem to find what you are looking for.</p>
        </section>

        <!-- Header -->
        <footer></footer>
    </body>
</html>