<!--
    This file is a preset of a product.
-->
<!DOCTYPE html>
<html lang="en">
    <!-- Website Head -->
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./style-dark.css">
        <title>${fields[0]} - Silly-Games</title>
    </head>

    <!-- Body Element -->
    <body>
        <!-- Header -->
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="https://github.com/Silly-School/INP_Website" target="_blank">Github</a></li>
                </ul>
            </nav>
        </header>

        <!-- Section -->
        <center>
            <section class="productInformation">
                    <img width="100%" src="${fields[4]}">
                    <h3>${fields[0]}</h3>
                    <p>${fields[1]}</p>
                    <p class="productPrice">${fields[3]} €</p>
                    <hr>
                    <a href="${fields[5]}" target="_blank"><button>Jetzt kaufen!</button></a>
            </section>
        </center>

        <!-- Footer -->
        <footer>
            © 2022 SillySoon
        </footer>
    </body>
</html>