/* Basis */
:root {
    scroll-behavior: smooth;
    --textNormal: #ffffff;
    --textPassive: #d9d9d9;
    --textHighlight: #0dcaf0;
    --colorBackground: #36393f;
    --colorSecondary: #212529;
}

body {
    background-color: var(--colorBackground);
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: var(--textNormal);
    margin: 20px;
}

/* Header */
header {
    font-size: larger;
}

/* product List */
.productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productList div {
    background-color: var(--colorSecondary);
    border-radius: 10px;
    align-items:center;
    margin: 15px;
    padding: 15px;
    width: 15%;
}

/* product Information */
.productInformation {
    background-color: var(--colorSecondary);
    border-radius: 10px;
    padding: 20px;
    width: 50%;
}

.productInformation img {
    border-radius: 10px;
}

Button {
    color: var(--textNormal);
    background-color: var(--colorBackground);
    border-radius: 10px;
    transition-duration: 0.3s;
    width: 100%;
    height: 40px;
    border: none;
    align-self: flex-end;
}

Button:hover {
    background-color: var(--colorSecondary);
}

.productPrice {
    color: var(--textHighlight);
    font-size: larger;
}

/* Navigation Bar */
nav {
    background-color: var(--colorSecondary);
    border-radius: 10px;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}
  
nav ul li a {
    color: var(--textNormal);
    text-decoration: none;
    transition-duration: 0.3s;
    padding: 15px;
}
  
nav ul li a:hover {
    background-color: var(--colorBackground);
}
  

/* Footer */ 
footer {
    text-align: center;
    background-attachment: scroll;
    background-position: 0% 0%;
    opacity: 20%;
    position: fixed;
    bottom: 10pt;
}