/* Basis */

:root /* General */ {
    scroll-behavior: smooth;
    --textNormal: #ffffff;
    --textPassive: #d9d9d9;
    --textHighlight: #0dcaf0;
    --colorBackground: #36393f;
    --colorSecondary: #212529;
}

body /* General */ {
    background-color: var(--colorBackground);
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: var(--textNormal);
    padding-bottom: 10vh;
    margin: 20px;
}

/* Navigation Bar */

nav /* General */ {
    background-color: var(--colorSecondary);
    border-radius: 50px;
}

nav ul /* General */ {
    padding-left: 1vw;
}

nav ul li /* General */ {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}
  
nav ul li a /* General */ {
    color: var(--textNormal);
    text-decoration: none;
    transition-duration: 0.3s;
    padding: 15px;
}
  
nav ul li a:hover /* General */ {
    background-color: var(--colorBackground);
}

nav ul li a img /* General */ {
    max-height: 20px;
}

/* Header */

header /* General */ {
    font-size: larger;
}

/* product List */

.productList /* index.html */ {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productList div /* index.html */ {
    background-color: var(--colorSecondary);
    border-radius: 10px;
    align-items:center;
    margin: 15px;
    padding: 15px;
    max-width: 300px;
    min-width: 200px;
}

.productList div img /* index.html */ {
    border-radius: 10px;
}

/* product Information */

.productInformation /* productExample.html */ {
    background-color: var(--colorSecondary);
    border-radius: 10px;
    padding: 20px;
    max-width: 90vh;
}

.productInformation img /* productExample.html */ {
    border-radius: 10px;
}

Button /* General */ {
    color: var(--textNormal);
    background-color: var(--colorBackground);
    border-radius: 10px;
    transition-duration: 0.3s;
    width: 100%;
    height: 40px;
    border: none;
}

Button:hover /* General */ {
    background-color: var(--colorSecondary);
}

.productPrice /* productExample.html */ {
    color: var(--textHighlight);
    font-size: larger;
}

/* Footer */ 

footer /* General */ {
    background-attachment: scroll;
    background-position: 0% 0%;
    opacity: 20%;
    position: fixed;
    bottom: 10pt;
}